<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class = "card">
              <mat-horizontal-stepper linear>
                <mat-step>

                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="example-container">
                      <mat-form-field>
                        <mat-label>Email Address:</mat-label>
                        <input matInput  placeholder="Enter your email" formControlName="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>

                    <div>
                      <button mat-button matStepperNext type="submit">Next</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button routerLink="/login" mat-button>Finish</button>
                  </div>
                </mat-step>

              </mat-horizontal-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div >

</div>
